// -------------------- VARIABLES --------------------
$color-primario: navy;
$color-secundario: #7b1fa2;
$color-terciario: #da62ff;
$color-fondo: #e6f2ff;
$color-fondo-sec: #f9f9f9;
$color-texto: #ecf0f1;
$color-footer-bg: #14213d;
$color-footer-text: #c3f4ff;
$color-banner-border: #e0e0e0;
$color-parrafo-bg: rgba(255, 255, 255, 0.7);
$color-pendiente: #dec1ff;
$color-timeline-bg: #2c1d42;
$color-timeline-border: #180835;
$font-base: "Nunito Sans", sans-serif;
$font-titulo: 'Merriweather', serif;
$font-titulo2: 'Courier New', Courier, monospace;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 992px;
$breakpoint-desktop: 1200px;
$shadow-base: 0 4px 10px rgba(0,0,0,0.1);
$shadow-hover: 0 8px 16px rgba(0,0,0,0.3);

// -------------------- MIXINS --------------------
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $breakpoint-mobile) { @content; }
  } @else if $breakpoint == tablet {
    @media (min-width: $breakpoint-tablet) { @content; }
  } @else if $breakpoint == desktop {
    @media (min-width: $breakpoint-desktop) { @content; }
  }
}

// -------------------- RESET --------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// -------------------- BODY --------------------
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  min-height: 100vh;
  font-family: $font-base;
  background: linear-gradient(to bottom right, $color-fondo, $color-fondo-sec);
  padding: 15px;

  @include respond-to(mobile) {
    padding-top: 1rem;
  }
}

// -------------------- HEADER Y NAV --------------------
header {
    grid-area: header;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 15px;
      padding: 0;
      margin: 0;

      li {
        a {
          color: $color-texto;
          font-weight: bold;
          text-align: center;
          text-decoration: none;

          &:hover { color: $color-terciario; }
        }
       }
    }


    @include respond-to(mobile) {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      ul {
        flex-direction: column;
        width: 100%;

        li { width: 100%; }
      }

      a {
        display: block;
        width: 100%;
        padding: 8px 0;
      }
    }
  }

header {
  .nav-bar {
    background-color: $color-primario;
    border-radius: 8px;
    color: #ecf0f1;
    padding: 12px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

    ul{
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 15px;
      padding: 0;
      margin: 0;
    }

    a{
      color: #ecf0f1;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
    }

    a:hover {
      color: #d448ff;
      text-decoration:wavy;
    }


    .nav-links {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 15px;
      padding: 0;
      margin: 0;
      transition: max-height 0.3s ease;
      opacity: 1;

      li a {
        color: #ecf0f1;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          color: $color-secundario;
        }
      }
    }
  }

  #volver-arriba{
    margin: 0;
  }
}

nav a{
  color: #ecf0f1;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
/* -------------------- RESPONSIVE -------------------- */
@include respond-to(mobile) {
  
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    overflow: auto;
    transition: max-height 0.3s ease;
  }

  /* Lista vertical */
  .nav-bar ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-bar a {
    display: block;
    width: 100%;
    padding: 8px 0;
  }
}


// -------------------- MAIN --------------------
main {
  grid-area: main;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 10px;
  justify-content: center;
  box-shadow: $shadow-base;

  .lista {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items:start;
  padding: 1rem;
  background: #f9fff9;
  border-left: 4px solid #00aa55;
  margin: 15px;
  border-radius: 8px;
  max-height: 300px;
  overflow-y: auto;
  max-width: 90%;

    @include respond-to(mobile) {
    grid-template-columns: 1fr; 
    }

  img {
    width: 100%;
    margin:0;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }

  li{
    margin: 0;
    background: white;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
}
}


// -------------------- FOOTER --------------------
footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $color-footer-bg;
  color: $color-footer-text;
  padding: 1rem;
  border-radius: 10px;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 15px;
    margin: 20px;
    background-color: $color-primario;
    border-radius: 8px;
    color: $color-footer-text;
  }

  a { color: $color-footer-text; }

  p {
    color: $color-footer-text;
    background-color: $color-primario;
    text-decoration: dotted;
    border-radius: 8px;
    font-family: $font-base;
    outline: none;
  }
}

// -------------------- PÁRRAFOS --------------------
p {
  color: rgba(40, 40, 80, 0.9);
  font-size: 18px;
  margin: 20px auto;
  width: 100%;
  max-width: 100%;
  text-align: center;
  padding: 15px;
  background: $color-parrafo-bg;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  outline: 3px dashed $color-secundario;
  outline-offset: 5px;

  @include respond-to(mobile) {
    font-size: 20px;
  }
}

// -------------------- IFRAME --------------------
iframe {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  margin: 15px 0;
}

// -------------------- SECCIONES --------------------
.seccion-index { margin-top: 70px; }

section {
  background: #f1e9ff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: $shadow-base;
  width: 100%;
  display: grid;

  @include respond-to(mobile) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

#volver-arriba {
  opacity:0;
}

.d-flex {
  &.flex-wrap {
    flex-direction: column;
    gap: 20px;

    @include respond-to(tablet) { flex-direction: column; }

    &.justify-content-around {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
}

// -------------------- CARD --------------------
.card {
  display: inline-block;
  height: 90%;
  border: 1px solid #ddd;
  margin: 1rem;
  background: #f1e9ff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: $shadow-base;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  h2 {
    color: #2b063b;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin: 0.5rem 0;
    word-break: break-word;
    line-height: 1.2;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
    margin-bottom: 0.5rem;
  }

  &:hover {
    transform: translateY(-5px) scale(1.03) rotate(-1deg);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  }
}


@include respond-to(mobile) {
  h2 {
    font-size: 1.3rem;
    text-align: center;
  }
}

// -------------------- TÍTULOS --------------------
h1 {
  color: #002b5c;
  text-align: center;
  font-size: 1.5rem;
  font-family: $font-titulo;
  margin-top: 25px;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.25);
  letter-spacing: 2px;
  display: inline-block;
  font-weight: bold;

  &:hover {
    color: $color-secundario;
    text-shadow: 3px 3px 8px rgba(0,0,0,0.3);
  }

  @include respond-to(tablet) { font-size: 2rem; }
  @include respond-to(desktop) { font-size: 2.5rem; }
}

h2 {
  color: #002b5c ;
  font-size: 30px ;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  margin-top: 15px ;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.25) ;
  font-weight: bold ;
}

// -------------------- LINKS --------------------
a {
  text-decoration: none;
  color: #1a73e8;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: underline;
    color: $color-terciario;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }


}

// -------------------- IMÁGENES --------------------
img {
  max-width: auto;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 5px 10px #2b063b;

  &:hover {
    transform: scale(1.05);
    box-shadow: $shadow-hover;
  }

  @include respond-to(tablet) { max-width: 600px; }
}

.portada-obra {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.round-img{
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
// -------------------- BARRA SUPERIOR --------------------
#top {
  color: $color-secundario;
  font-size: 18px;
  padding-left: 25px;
  background: #592d68;
  border-left: 4px solid #da9eff;
  margin: 15px;
  max-width: 700px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 45px;
  z-index: 10;

  @include respond-to(mobile) {
    top: 5rem;
  }
}

.top {
  font-size: 18px;
  padding-left: 25px;
  background: #dfb6ed;
  border-left: 4px solid #4c156e;
  margin: 15px;
  border-radius: 8px;
  outline: none;

  a { color: #2b063b; text-decoration: none; font-weight: bold; }
  p { display: inline-block; max-width: none; width: auto;}
}

// -------------------- BANNER --------------------
.banner {
  background-image: url(https://external-preview.redd.it/O5XGHsf9C09Le5ml0_YwFzdmOATTu_6Yg5WrfJuwrsE.png?format=pjpg&auto=webp&s=f3075002de3621e5bda96f02e26f28c6ed57b8c5);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 350px;
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.4);
  margin: 100px 20px 40px 40px;
  border: 3px solid $color-banner-border;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 0;
  z-index: 10;

  @include respond-to(mobile) {
    display: inline-block;
    height: 200px;
    position: relative;
    margin: 50px 10px 20px 20px;
  }
}

// -------------------- TIMELINE --------------------
.timeline {
  background: $color-timeline-bg;
  border: 2px solid $color-timeline-border;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

// -------------------- MARQUEE --------------------
marquee {
  color: $color-secundario;
  text-decoration: underline;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  background: $color-pendiente;
  margin: 5px;
  width: 100%;
  border-radius: 6px;
  display: inline-block;
  position: relative;
  top: 70px;
}

// -------------------- DIVs GENERALES --------------------
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5%;
}

div{
  padding: 2rem;
}

// -------------------- FORMULARIOS --------------------
$form-border-color: #ccc;
$form-border-hover: $color-secundario;
$form-radius: 6px;
$form-padding: 8px;

form {
  input, textarea, select {
    padding: $form-padding;
    border-radius: $form-radius;
    border: 1px solid $form-border-color;
    margin-bottom: 10px;
    width: 100%;

    &:hover {
      border-color: $form-border-hover;
      text-decoration: overline;
    }
  }

  input[type="submit"] {
    background-color: $color-secundario;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: $form-radius;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: all 0.3s ease;

    &:focus {
      background-color: lighten($color-secundario, 20%);
    }

     &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }
  }
}

/* --- Carrusel de obras --- */
.carousel-inner {
  overflow: hidden;
}

.carousel-item {
  height: 450px;
  overflow: hidden;
  position: relative;
}

.carousel-item .image-container {
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
}

.carousel-item img {
  width: auto;
  max-width: 100%;
  height: 100%;
  max-height: 450px;
  object-fit:cover;   //quiero q se adapte al container
  object-position: center center;
  border-radius: 10px;
  box-shadow: none;
  display: block;
  margin: 0 auto;      
}

.image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.35s ease;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.image-container:hover .overlay {
  opacity: 1;
}
.carousel-inner {
  width: 100%;
  height: 450px; // altura general del carrusel
  overflow: hidden;
}

.carousel-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; // cubre todo el slide sin deformarse
}

.carousel-item .carrusel-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;           // ocupa todo el slide
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: #fff;
  background-image: url('https://p4.wallpaperbetter.com/wallpaper/481/200/1004/brandon-sanderson-stormlight-archives-wallpaper-preview.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;

  
}


@media (max-width: 768px) {
  .carousel-inner {
    height: 300px;
  }

  .carousel-item .carrusel-info {
    padding: 0.2rem;
    object-fit: contain;
    font-size: 2px;
    align-items: center;
    justify-items: flex-start;
    max-height: 90%;
    overflow: hidden;
    text-overflow: ellipsis; 
    

    h3 {
      font-size: 15px;
      padding: 0px;
      margin: 0px;
    }

    p {
      padding: 0px;
      margin: 0px;
      font-size: 10px;
      max-height: 20%;
    }
  }
}

.proyecto-container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
  grid-template-areas: 
  "informacion carrusel";

  @include respond-to(mobile) {
    grid-template-columns: 1fr;  
    grid-template-areas:
      "informacion"
      "carrusel";
  }

}

.proyecto-info{
  grid-area: informacion;
   display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.proyecto-carrusel{
  grid-area: carrusel;
}

.carrusel-info {
  color: rgba(255, 255, 255, 0.6); 
  display: flex;
  display: flex;
  flex-direction: column; 
  align-items: center;   
  justify-content: center;
  text-align: center;
  gap: 10px; 
  height: 100%;
  border-radius: 20px;
  padding: 40px;
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 500;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

  
  filter: blur(8px);
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/481/200/1004/brandon-sanderson-stormlight-archives-wallpaper-preview.jpg);

  .carrusel-p{
    background: none ;
    border: none;
    outline: none ;
    box-shadow: none ;
    color: #fff;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    text-align: center;
  }

  h3{
    color: #fff;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.5px;
    text-align: start;
    text-weight: bold;
    text-shadow: #180835 2px 2px 8px;
  }

  &:hover {
   filter: blur(0);
    color: rgb(255, 255, 255)
  }
}

// -------------------- INDEX --------------------

.container-index {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  grid-template-areas: 
    "introduccion curiosidades";

  @include respond-to(mobile) {
    grid-template-columns: 1fr;  
    grid-template-areas:
      "introduccion"
      "curiosidades";
  }
}

/* Curiosidades - Popovers */
.curiosidades-grid {
  grid-area: curiosidades;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  gap: 15px;
  padding: 0.5rem;

  @include respond-to(mobile) {
    justify-content: center; 
  }
}

.info-accordion {
  grid-area: introduccion;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .accordion-button {
    background-color: #7b1fa2;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 8px;
    margin-bottom: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease;

    &:hover, &:focus {
      background-color: #da62ff;
      color: #000;
      transform: scale(1.02);
    }

    &.collapsed {
      background-color: #4c156e;
      color: #fff;
    }
  }

  .accordion-body {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
   
    color: #2b063b;
    padding: 1rem 1.5rem;
    border-radius: 0 0 8px 8px;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
    font-size: 1rem;
    line-height: 1.6;
  }
}

/* -------------------- POPOVERS BOOTSTRAP -------------------- */
.popover-btn {
    background-color: #7b1fa2; 
    color: #fff;               
    border: 2px solid #da62ff;
    padding: 0.8rem 1.2rem;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    flex: 1 1 auto;         
    min-width: 150px;        
    max-width: 100%;       
    text-align: center;

    &:hover{
      background-color: #da62ff;
      border: 2px solid #da62ff;
      color: #000;
      transform: translateY(-2px);
      box-shadow: 0 6px 15px rgba(0,0,0,0.25);
    }  

    &:focus, &:active{ //reescribo el estilo de boostrap por defecto
      background-color: #7b1fa2 !important;
      color: #fff !important;
      border: 2px solid #da62ff !important;
    }
  }

  .popover {
    background-color: #f1e9ff;
    color: #2b063b;
    border: 1px solid #7b1fa2;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }

  .popover-header {
    background-color: #7b1fa2;
    color: #fff;
    font-weight: bold;
  }

  .popover-body {
    font-size: 0.95rem;
  }

  
