
/*Reset de CSS: elimina estilos default de google*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
selector{
  propiedad: valor;
}
*/

.banner {
    background-image: url('https://tse1.explicit.bing.net/th/id/OIP.6HkyKwsALlj_2O25a_JX-QHaHa?rs=1&pid=ImgDetMain&o=7&rm=3');
    background-size: cover;
    height: 300px;
}

p{
    /*color: blueviolet;
    color: rgb(92, 23, 92); */
    color: rgba(92, 23, 92, 0.5); /* permite elegir opacidad*/
    /* color: #5c175c; */
    font-size: 20px;
    /* unidades de medida: px (texto), % (anchos y altos), em (tamaño de fuente), rem (tamaño de fuente raíz) */
    margin: 20px;
}

h1{
    color: blue;
    text-align: center;
}

body{
    background-color: #ddf4ff;
}

/* las propiedades se heredan, pero por cascada la ultima propiedad en aparecer es 
la que cuenta, pero la mayor prioridad es la que tenga mas especificidad*/
ul ol {
    color: green;
    font-size: 18px;

}

/*Selector por clases: no importa qué elemto es, sino que hay q declararlo como
class="nombreDeClase" y desp se pone .nombreDeClase{} */

.titulo {
    color: crimson;
    text-decoration: underline;
}

/*Selector por ID: se declara como id="nombreDeID" y se usa #nombreDeID{}, es un estilo
unico que solo se aplica a un elemento */

#especial {
    color: blue;
    font-weight: bold;
}

/* para modificar estilos de otros archivos, se va a heredar todo lo que hayas aplicado
al primero, si quiero mas especificidad se usan clases*/

.parrafo2{
    font-size: 22px;
    color: purple;
    text-transform: capitalize; /*cada palabra empieza con mayus*/
    font-style:italic;
    font-size: 1.5em; /* Em: Relativo al tamano del elemento padre
    Rem: relativo al tamaño de la fuente raíz*/
    font-family: "Nunito Sans", sans-serif; /*font importado de google: pongo un link en el html y desp le llamo
    con el nombre q me dice google*/
}

.titulo2{
    color: darkorange;
    text-decoration: underline;
    text-align: center;
    font-size: 30px; /*medida absoluta*/
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace; /*tipos de letra q ya tengo en la compu*/
}